Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

Uploading the dataset

In [3]:
df=pd.read_csv('glass.csv')
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

Checking null values:

In [4]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

Modelling data with gaussain naive bayes from Scikit-learn.

In [20]:
#create a naive bayes object
nb=GaussianNB()
#identifying features and target variables
x=df.drop(columns=['Type'])
y=df['Type']

#splitting data into training and testing set
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
print(x_train)

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe
160  1.51832  13.33  3.34  1.54  72.14  0.56  8.99  0.00  0.00
42   1.51779  13.21  3.39  1.33  72.76  0.59  8.59  0.00  0.00
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00
70   1.51574  14.86  3.67  1.74  71.87  0.16  7.36  0.00  0.12
21   1.51966  14.77  3.75  0.29  72.02  0.03  9.00  0.00  0.00
..       ...    ...   ...   ...    ...   ...   ...   ...   ...
122  1.51687  13.23  3.54  1.48  72.84  0.56  8.10  0.00  0.00
162  1.52211  14.19  3.78  0.91  71.36  0.23  9.14  0.00  0.37
192  1.51623  14.20  0.00  2.79  73.46  0.04  9.04  0.40  0.09
143  1.51709  13.00  3.47  1.79  72.72  0.66  8.18  0.00  0.00
85   1.51625  13.36  3.58  1.49  72.72  0.45  8.21  0.00  0.00

[171 rows x 9 columns]

In [16]:
print(y_train)

160    3
42     1
209    7
70     2
21     1
      ..
122    2
162    3
192    7
143    2
85     2
Name: Type, Length: 171, dtype: int64

In [17]:
print(x_test)

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
92   1.51588  13.12  3.41  1.58  73.26  0.07   8.39  0.00  0.19
148  1.51670  13.24  3.57  1.38  72.70  0.56   8.44  0.00  0.10
12   1.51589  12.88  3.43  1.40  73.28  0.69   8.05  0.00  0.24
179  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.00  0.00
91   1.51605  12.90  3.44  1.45  73.06  0.44   8.27  0.00  0.00
99   1.51811  12.96  2.96  1.43  72.92  0.60   8.79  0.14  0.00
167  1.51969  12.64  0.00  1.65  73.75  0.38  11.53  0.00  0.00
38   1.52213  14.21  3.82  0.47  71.77  0.11   9.57  0.00  0.00
117  1.51708  13.72  3.68  1.81  72.06  0.64   7.88  0.00  0.00
112  1.52777  12.64  0.00  0.67  72.02  0.06  14.40  0.00  0.00
120  1.51844  13.25  3.76  1.32  72.40  0.58   8.42  0.00  0.00
126  1.51667  12.94  3.61  1.26  72.75  0.56   8.60  0.00  0.00
157  1.52121  14.03  3.76  0.58  71.79  0.11   9.65  0.00  0.00
153  1.51610  13.42  3.40  1.22  72.69  0.59   8.32  0.00  0.00
82   1.51646  13.41  3.55  1.25  72.81  0.68   8.10  0.00  0.00
81   1.51593  13.25  3.45  1.43  73.17  0.61   7.86  0.00  0.00
17   1.52196  14.36  3.85  0.89  71.36  0.15   9.15  0.00  0.00
133  1.51800  13.71  3.93  1.54  71.81  0.54   8.21  0.00  0.15
106  1.53125  10.73  0.00  2.10  69.81  0.58  13.30  3.15  0.28
195  1.51545  14.14  0.00  2.68  73.39  0.08   9.07  0.61  0.05
64   1.52172  13.48  3.74  0.90  72.01  0.18   9.61  0.00  0.07
0    1.52101  13.64  4.49  1.10  71.78  0.06   8.75  0.00  0.00
102  1.51820  12.62  2.76  0.83  73.81  0.35   9.42  0.00  0.20
77   1.51627  13.00  3.58  1.54  72.83  0.61   8.04  0.00  0.00
71   1.51848  13.64  3.87  1.27  71.96  0.54   8.32  0.00  0.32
2    1.51618  13.53  3.55  1.54  72.99  0.39   7.78  0.00  0.00
60   1.51905  13.60  3.62  1.11  72.64  0.14   8.76  0.00  0.00
119  1.51652  13.56  3.57  1.47  72.45  0.64   7.96  0.00  0.00
4    1.51742  13.27  3.62  1.24  73.08  0.55   8.07  0.00  0.00
146  1.51769  13.65  3.66  1.11  72.77  0.11   8.60  0.00  0.00
200  1.51508  15.15  0.00  2.25  73.50  0.00   8.34  0.63  0.00
45   1.51900  13.49  3.48  1.35  71.95  0.55   9.00  0.00  0.00
44   1.51786  12.73  3.43  1.19  72.95  0.62   8.76  0.00  0.30
149  1.51643  12.16  3.52  1.35  72.89  0.57   8.53  0.00  0.00
108  1.52222  14.43  0.00  1.00  72.67  0.10  11.52  0.00  0.08
9    1.51755  13.00  3.60  1.36  72.99  0.57   8.40  0.00  0.11
134  1.51811  13.33  3.85  1.25  72.78  0.52   8.12  0.00  0.00
6    1.51743  13.30  3.60  1.14  73.09  0.58   8.17  0.00  0.00
63   1.52227  14.17  3.81  0.78  71.35  0.00   9.69  0.00  0.00
109  1.51818  13.72  0.00  0.56  74.45  0.00  10.99  0.00  0.00
183  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00  0.00
40   1.51793  12.79  3.50  1.12  73.03  0.64   8.77  0.00  0.00
18   1.51911  13.90  3.73  1.18  72.12  0.06   8.89  0.00  0.00

In [18]:
print(y_test)

92     2
148    3
12     1
179    6
91     2
99     2
167    5
38     1
117    2
112    2
120    2
126    2
157    3
153    3
82     2
81     2
17     1
133    2
106    2
195    7
64     1
0      1
102    2
77     2
71     2
2      1
60     1
119    2
4      1
146    3
200    7
45     1
44     1
149    3
108    2
9      1
134    2
6      1
63     1
109    2
183    6
40     1
18     1
Name: Type, dtype: int64

In [21]:
#training the model
nb.fit(x_train,y_train)

#predicting testing set
y_pred=nb.predict(x_test)

#performance check of model
print(accuracy_score(y_test,y_pred))

0.5581395348837209

Giving a new test instance:

In [13]:
print(nb.predict([[1.9,  11 , 0.00  ,2.1,  75 , 0.08,   8.3 , 0.63 , 0.00]]))
# Type of glass: (class attribute)
# -- 1 building_windows_float_processed
# -- 2 building_windows_non_float_processed
# -- 3 vehicle_windows_float_processed
# -- 4 vehicle_windows_non_float_processed (none in this database)
# -- 5 containers
# -- 6 tableware
# -- 7 headlamps

[2]